
  <div class="jumbotron">
	<h5>Live Feed</h5>
	<h4>________</h4>
	<h6>Outforation Theory</h6>
    <small>This Project Study is in Draft Life Cycle Status and part of Research of CitrixLab's Pioneering Project</small>
	<small>&nbsp</small>  
</div>