
  <div class="jumbotron">
    <h1>.outfo</h1>
	<h4>___________</h4>
    <h4>Welcome to CitrixLab Research & Development Philippines</h4> 
	<h6>Head Researcher: Peper Cruz</h6>
	<small>&nbsp</small>
    <p>Live Server for a Cloud-Base Computing Machine as a sampe Node Server that will use Data Storages hence; JSON, APIs, MongoDB and SQLs to create a Central Infrastructure Unit for the proposal of Outformation Theory.</p>
  </div>